In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stats
%matplotlib inline

In [2]:
df=pd.read_csv('final-student-prediction-3000.csv')

In [4]:
df

,Unnamed: 0,STUDENTID,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
0,0,1,2,2,3,3,1,2,2,1,...,1,1,3,2,1,2,1,1,1,1
1,1,2,2,2,3,3,1,2,2,1,...,1,1,3,2,3,2,2,3,1,1
2,2,3,2,2,2,3,2,2,2,2,...,1,1,2,2,1,1,2,2,1,1
3,3,4,1,1,1,3,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
4,4,5,2,2,1,3,2,2,1,3,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,2996,2,2,2,3,2,2,2,2,...,1,1,2,1,3,2,4,4,1,2
2996,2996,2997,1,1,2,3,2,2,2,1,...,1,1,2,3,2,2,1,1,7,3
2997,2997,2998,2,2,2,3,2,1,2,1,...,1,2,3,2,3,3,5,4,1,5
2998,2998,2999,2,1,2,3,2,2,1,1,...,1,1,2,2,2,3,2,1,1,1
2999,2999,3000,3,2,2,3,1,2,1,4,...,3,3,1,3,3,3,5,4,1,3

In [6]:
df=df.drop('Unnamed: 0', axis=1)

In [7]:
df

,STUDENTID,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
0,1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,2,2,2,3,2,2,2,2,1,...,1,1,2,1,3,2,4,4,1,2
2996,2997,1,1,2,3,2,2,2,1,2,...,1,1,2,3,2,2,1,1,7,3
2997,2998,2,2,2,3,2,1,2,1,1,...,1,2,3,2,3,3,5,4,1,5
2998,2999,2,1,2,3,2,2,1,1,1,...,1,1,2,2,2,3,2,1,1,1
2999,3000,3,2,2,3,1,2,1,4,1,...,3,3,1,3,3,3,5,4,1,3

In [8]:
df=df.drop('STUDENTID', axis=1)

In [9]:
x=df.drop('GRADE', axis=1)
y=df['GRADE']

In [10]:
x

,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,LIVING,...,ATTEND,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID
0,2,2,3,3,1,2,2,1,1,1,...,1,1,1,3,2,1,2,1,1,1
1,2,2,3,3,1,2,2,1,1,1,...,1,1,1,3,2,3,2,2,3,1
2,2,2,2,3,2,2,2,2,4,2,...,1,1,1,2,2,1,1,2,2,1
3,1,1,1,3,1,2,1,2,1,2,...,1,1,2,3,2,2,1,3,2,1
4,2,2,1,3,2,2,1,3,1,4,...,1,2,1,2,2,2,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2,2,2,3,2,2,2,2,1,1,...,1,1,1,2,1,3,2,4,4,1
2996,1,1,2,3,2,2,2,1,2,2,...,1,1,1,2,3,2,2,1,1,7
2997,2,2,2,3,2,1,2,1,1,1,...,1,1,2,3,2,3,3,5,4,1
2998,2,1,2,3,2,2,1,1,1,2,...,1,1,1,2,2,2,3,2,1,1
2999,3,2,2,3,1,2,1,4,1,2,...,1,3,3,1,3,3,3,5,4,1

In [11]:
y

0       1
1       1
2       1
3       1
4       1
       ..
2995    2
2996    3
2997    5
2998    1
2999    3
Name: GRADE, Length: 3000, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [13]:
from lazypredict.Supervised import LazyRegressor

In [14]:
reg=LazyRegressor(verbose=1, ignore_warnings=False, custom_metric=None)

In [15]:
models, predictions = reg.fit(x_train ,x_test, y_train, y_test)

  2%|█▉                                                                                 | 1/42 [00:00<00:06,  6.01it/s]

{'Model': 'AdaBoostRegressor', 'R-Squared': 0.7524933165644277, 'Adjusted R-Squared': 0.7436537921560145, 'RMSE': 0.9852256452970458, 'Time taken': 0.16641998291015625}
{'Model': 'BaggingRegressor', 'R-Squared': 0.9954952558527833, 'Adjusted R-Squared': 0.9953343721332398, 'RMSE': 0.13291601358251254, 'Time taken': 0.06781911849975586}

 17%|█████████████▊                                                                     | 7/42 [00:00<00:02, 15.18it/s]

{'Model': 'BayesianRidge', 'R-Squared': 0.5236158549564274, 'Adjusted R-Squared': 0.5066021354905854, 'RMSE': 1.3668501099725108, 'Time taken': 0.17714715003967285}
{'Model': 'DecisionTreeRegressor', 'R-Squared': 0.9943336551607337, 'Adjusted R-Squared': 0.9941312857021884, 'RMSE': 0.14907119849998599, 'Time taken': 0.011005640029907227}
{'Model': 'DummyRegressor', 'R-Squared': -1.6446533772640493e-06, 'Adjusted R-Squared': -0.03571598910528362, 'RMSE': 1.9803529503631654, 'Time taken': 0.009973526000976562}
{'Model': 'ElasticNet', 'R-Squared': 0.09845585149427416, 'Adjusted R-Squared': 0.06625784619049813, 'RMSE': 1.880337217226603, 'Time taken': 0.04292893409729004}
{'Model': 'ElasticNetCV', 'R-Squared': 0.5267500014045434, 'Adjusted R-Squared': 0.5098482157404199, 'RMSE': 1.36234641507836, 'Time taken': 0.06980514526367188}
{'Model': 'ExtraTreeRegressor', 'R-Squared': 0.9934837034348438, 'Adjusted R-Squared': 0.9932509785575168, 'RMSE': 0.15986105077709065, 'Time taken': 0.012966394424438477}

 21%|█████████████████▊                                                                 | 9/42 [00:00<00:03,  9.16it/s]

{'Model': 'ExtraTreesRegressor', 'R-Squared': 0.99517932879627, 'Adjusted R-Squared': 0.9950071619675653, 'RMSE': 0.13749787877151656, 'Time taken': 0.38400721549987793}
GammaRegressor model failed to execute
Some value(s) of y are out of the valid range of the loss 'HalfGammaLoss'.

 26%|█████████████████████▍                                                            | 11/42 [00:01<00:06,  4.94it/s]

{'Model': 'GaussianProcessRegressor', 'R-Squared': 0.9824489960013096, 'Adjusted R-Squared': 0.9818221744299278, 'RMSE': 0.2623573437255392, 'Time taken': 0.7981297969818115}

 29%|███████████████████████▍                                                          | 12/42 [00:01<00:06,  4.92it/s]

{'Model': 'GradientBoostingRegressor', 'R-Squared': 0.9549288091027098, 'Adjusted R-Squared': 0.9533191237135209, 'RMSE': 0.42042812341335306, 'Time taken': 0.2054615020751953}

 31%|█████████████████████████▍                                                        | 13/42 [00:03<00:13,  2.10it/s]

{'Model': 'HistGradientBoostingRegressor', 'R-Squared': 0.9957413239317237, 'Adjusted R-Squared': 0.9955892283578567, 'RMSE': 0.1292348211636202, 'Time taken': 1.5018939971923828}

 33%|███████████████████████████▎                                                      | 14/42 [00:03<00:13,  2.14it/s]

{'Model': 'HuberRegressor', 'R-Squared': 0.45394464606607576, 'Adjusted R-Squared': 0.4344426691398642, 'RMSE': 1.4633916659804984, 'Time taken': 0.43798041343688965}
{'Model': 'KNeighborsRegressor', 'R-Squared': 0.9676451709677897, 'Adjusted R-Squared': 0.9664896413594964, 'RMSE': 0.3562146668638012, 'Time taken': 0.022912025451660156}

 48%|███████████████████████████████████████                                           | 20/42 [00:04<00:03,  5.61it/s]

{'Model': 'KernelRidge', 'R-Squared': -2.0265788893023595, 'Adjusted R-Squared': -2.13467099249173, 'RMSE': 3.4452301711853686, 'Time taken': 0.25647521018981934}
{'Model': 'Lars', 'R-Squared': 0.521885012995463, 'Adjusted R-Squared': 0.5048094777453009, 'RMSE': 1.3693309403414797, 'Time taken': 0.0343782901763916}
{'Model': 'LarsCV', 'R-Squared': 0.5276177619955442, 'Adjusted R-Squared': 0.5107469677810994, 'RMSE': 1.3610968292852046, 'Time taken': 0.04162764549255371}
{'Model': 'Lasso', 'R-Squared': -1.6446533772640493e-06, 'Adjusted R-Squared': -0.03571598910528362, 'RMSE': 1.9803529503631654, 'Time taken': 0.00996255874633789}
{'Model': 'LassoCV', 'R-Squared': 0.5273905233326968, 'Adjusted R-Squared': 0.5105116134517216, 'RMSE': 1.3614241665676432, 'Time taken': 0.06523585319519043}
{'Model': 'LassoLars', 'R-Squared': -1.6446533772640493e-06, 'Adjusted R-Squared': -0.03571598910528362, 'RMSE': 1.9803529503631654, 'Time taken': 0.01086735725402832}
{'Model': 'LassoLarsCV', 'R-Squared': 0.5276177619955442, 'Adjusted R-Squared': 0.5107469677810994, 'RMSE': 1.3610968292852046, 'Time taken': 0.03846335411071777}

 57%|██████████████████████████████████████████████▊                                   | 24/42 [00:04<00:02,  8.85it/s]

{'Model': 'LassoLarsIC', 'R-Squared': 0.5269908208537573, 'Adjusted R-Squared': 0.5100976358842486, 'RMSE': 1.3619997470785699, 'Time taken': 0.04333615303039551}
{'Model': 'LinearRegression', 'R-Squared': 0.5218850129954633, 'Adjusted R-Squared': 0.5048094777453012, 'RMSE': 1.3693309403414793, 'Time taken': 0.014960050582885742}
{'Model': 'LinearSVR', 'R-Squared': 0.3869999376602353, 'Adjusted R-Squared': 0.365107078290958, 'RMSE': 1.5505026110757396, 'Time taken': 0.07782554626464844}

 62%|██████████████████████████████████████████████████▊                               | 26/42 [00:05<00:04,  3.91it/s]

{'Model': 'MLPRegressor', 'R-Squared': 0.9972570046971155, 'Adjusted R-Squared': 0.9971590405791554, 'RMSE': 0.10371815305892584, 'Time taken': 1.3621113300323486}
{'Model': 'NuSVR', 'R-Squared': 0.9847491311777403, 'Adjusted R-Squared': 0.9842044572912311, 'RMSE': 0.24456231424630048, 'Time taken': 0.19148921966552734}

 67%|██████████████████████████████████████████████████████▋                           | 28/42 [00:06<00:03,  4.51it/s]

{'Model': 'OrthogonalMatchingPursuit', 'R-Squared': 0.29059458526648796, 'Adjusted R-Squared': 0.26525867759743393, 'RMSE': 1.6679748273993256, 'Time taken': 0.048833370208740234}
{'Model': 'OrthogonalMatchingPursuitCV', 'R-Squared': 0.39979054084459886, 'Adjusted R-Squared': 0.3783544887319059, 'RMSE': 1.534241268484304, 'Time taken': 0.022202014923095703}
{'Model': 'PassiveAggressiveRegressor', 'R-Squared': -0.16822752982122813, 'Adjusted R-Squared': -0.2099499416005579, 'RMSE': 2.1404543047351945, 'Time taken': 0.010652542114257812}
{'Model': 'PoissonRegressor', 'R-Squared': 0.5251969042550566, 'Adjusted R-Squared': 0.5082396508355943, 'RMSE': 1.3645800371014847, 'Time taken': 0.019949674606323242}

 76%|██████████████████████████████████████████████████████████████▍                   | 32/42 [02:48<02:51, 17.11s/it]

{'Model': 'QuantileRegressor', 'R-Squared': -0.007759429712699939, 'Adjusted R-Squared': -0.04375083791672507, 'RMSE': 1.9880196735483173, 'Time taken': 162.26426315307617}

 79%|████████████████████████████████████████████████████████████████▍                 | 33/42 [02:48<02:14, 14.92s/it]

{'Model': 'RANSACRegressor', 'R-Squared': 0.15499938776902233, 'Adjusted R-Squared': 0.12482079447505878, 'RMSE': 1.820416462948251, 'Time taken': 0.2942636013031006}

 81%|██████████████████████████████████████████████████████████████████▍               | 34/42 [02:49<01:41, 12.66s/it]

{'Model': 'RandomForestRegressor', 'R-Squared': 0.9963541604035193, 'Adjusted R-Squared': 0.9962239518465021, 'RMSE': 0.11957517393766241, 'Time taken': 0.5036799907684326}

 86%|██████████████████████████████████████████████████████████████████████▎           | 36/42 [02:49<00:49,  8.30s/it]

{'Model': 'Ridge', 'R-Squared': 0.5219853170547517, 'Adjusted R-Squared': 0.5049133640924214, 'RMSE': 1.3691872963855558, 'Time taken': 0.3577735424041748}
{'Model': 'RidgeCV', 'R-Squared': 0.5228392530424992, 'Adjusted R-Squared': 0.505797797794017, 'RMSE': 1.367963776496488, 'Time taken': 0.184251070022583}

 90%|██████████████████████████████████████████████████████████████████████████▏       | 38/42 [02:49<00:20,  5.25s/it]

{'Model': 'SGDRegressor', 'R-Squared': 0.5190608093094031, 'Adjusted R-Squared': 0.5018844096418817, 'RMSE': 1.3733692736426617, 'Time taken': 0.056822776794433594}
{'Model': 'SVR', 'R-Squared': 0.9828408601083534, 'Adjusted R-Squared': 0.9822280336836517, 'RMSE': 0.25941196298204255, 'Time taken': 0.12569904327392578}
{'Model': 'TransformedTargetRegressor', 'R-Squared': 0.5218850129954633, 'Adjusted R-Squared': 0.5048094777453012, 'RMSE': 1.3693309403414793, 'Time taken': 0.01634669303894043}
{'Model': 'TweedieRegressor', 'R-Squared': 0.4199164804506117, 'Adjusted R-Squared': 0.3991992118952763, 'RMSE': 1.5082992189553563, 'Time taken': 0.0809929370880127}

 98%|████████████████████████████████████████████████████████████████████████████████  | 41/42 [02:50<00:03,  3.01s/it]

{'Model': 'XGBRegressor', 'R-Squared': 0.9964997148826894, 'Adjusted R-Squared': 0.9963747046999283, 'RMSE': 0.11716393610531779, 'Time taken': 0.5355689525604248}

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [02:50<00:00,  4.07s/it]

{'Model': 'LGBMRegressor', 'R-Squared': 0.995825486251424, 'Adjusted R-Squared': 0.9956763964746891, 'RMSE': 0.12795144369299064, 'Time taken': 0.2551589012145996}

In [16]:
models

                               Adjusted R-Squared  R-Squared  RMSE  Time Taken
Model
MLPRegressor                                 1.00       1.00  0.10        1.36
XGBRegressor                                 1.00       1.00  0.12        0.54
RandomForestRegressor                        1.00       1.00  0.12        0.50
LGBMRegressor                                1.00       1.00  0.13        0.26
HistGradientBoostingRegressor                1.00       1.00  0.13        1.50
BaggingRegressor                             1.00       1.00  0.13        0.07
ExtraTreesRegressor                          1.00       1.00  0.14        0.38
DecisionTreeRegressor                        0.99       0.99  0.15        0.01
ExtraTreeRegressor                           0.99       0.99  0.16        0.01
NuSVR                                        0.98       0.98  0.24        0.19
SVR                                          0.98       0.98  0.26        0.13
GaussianProcessRegressor                     0.98       0.98  0.26        0.80
KNeighborsRegressor                          0.97       0.97  0.36        0.02
GradientBoostingRegressor                    0.95       0.95  0.42        0.21
AdaBoostRegressor                            0.74       0.75  0.99        0.17
LassoLarsCV                                  0.51       0.53  1.36        0.04
LarsCV                                       0.51       0.53  1.36        0.04
LassoCV                                      0.51       0.53  1.36        0.07
LassoLarsIC                                  0.51       0.53  1.36        0.04
ElasticNetCV                                 0.51       0.53  1.36        0.07
PoissonRegressor                             0.51       0.53  1.36        0.02
BayesianRidge                                0.51       0.52  1.37        0.18
RidgeCV                                      0.51       0.52  1.37        0.18
Ridge                                        0.50       0.52  1.37        0.36
TransformedTargetRegressor                   0.50       0.52  1.37        0.02
LinearRegression                             0.50       0.52  1.37        0.01
Lars                                         0.50       0.52  1.37        0.03
SGDRegressor                                 0.50       0.52  1.37        0.06
HuberRegressor                               0.43       0.45  1.46        0.44
TweedieRegressor                             0.40       0.42  1.51        0.08
OrthogonalMatchingPursuitCV                  0.38       0.40  1.53        0.02
LinearSVR                                    0.37       0.39  1.55        0.08
OrthogonalMatchingPursuit                    0.27       0.29  1.67        0.05
RANSACRegressor                              0.12       0.15  1.82        0.29
ElasticNet                                   0.07       0.10  1.88        0.04
DummyRegressor                              -0.04      -0.00  1.98        0.01
LassoLars                                   -0.04      -0.00  1.98        0.01
Lasso                                       -0.04      -0.00  1.98        0.01
QuantileRegressor                           -0.04      -0.01  1.99      162.26
PassiveAggressiveRegressor                  -0.21      -0.17  2.14        0.01
KernelRidge                                 -2.13      -2.03  3.45        0.26

In [17]:
def random_sample(df):
    sampled_list=[]
    for x in range(10):
        temp=np.array(df.sample())
    sampled_list.append(temp)
    
    new_row=[]
    for x in sampled_list:
        for y in x:
            new_row.append(y)
    
    age=[]
    gender=[]
    hs_type=[]
    scholarship=[]
    work=[]
    activity=[]
    partner=[]
    salary=[]
    transport=[]
    living=[]
    mother_edu=[]
    father_edu=[]
    no_siblings=[]
    kids=[]
    mother_job=[]
    father_job=[]
    study_hrs=[]
    read_freq=[]
    read_freq_sci=[]
    attend_dept=[]
    impace=[]
    attend=[]
    prep_study=[]
    prep_exam=[]
    notes=[]
    listens=[]
    likes_discuss=[]
    classroom=[]
    cuml_gpa=[]
    exp_gpa=[]
    course_id=[]
    grade=[]
    
    for x in range(len(new_row)):
        age.append(new_row[x][1])
        gender.append(new_row[x][2])
        hs_type.append(new_row[x][3])
        scholarship.append(new_row[x][4])
        work.append(new_row[x][5])
        activity.append(new_row[x][6])
        partner.append(new_row[x][7])
        salary.append(new_row[x][8])
        transport.append(new_row[x][9])
        living.append(new_row[x][10])
        mother_edu.append(new_row[x][11])
        father_edu.append(new_row[x][12])
        no_siblings.append(new_row[x][13])
        kids.append(new_row[x][14])
        mother_job.append(new_row[x][15])
        father_job.append(new_row[x][16])
        study_hrs.append(new_row[x][17])
        read_freq.append(new_row[x][18])
        read_freq_sci.append(new_row[x][19])
        attend_dept.append(new_row[x][20])
        impace.append(new_row[x][21])
        attend.append(new_row[x][22])
        prep_study.append(new_row[x][23])
        prep_exam.append(new_row[x][24])
        notes.append(new_row[x][25])
        listens.append(new_row[x][26])
        likes_discuss.append(new_row[x][27])
        classroom.append(new_row[x][28])
        cuml_gpa.append(new_row[x][29])
        exp_gpa.append(new_row[x][30])
        course_id.append(new_row[x][31])
        grade.append(new_row[x][32])
    
    age=stats.mean(age)
    gender=stats.median(gender)
    hs_type=stats.mode(hs_type)
    scholarship=stats.median(scholarship)
    work=stats.mode(work)
    activity=stats.mean(activity)
    partner=stats.mode(partner)
    salary=stats.mode(salary)
    transport=stats.mean(transport)
    living=stats.median(living)
    mother_edu=stats.mean(mother_edu)
    father_edu=stats.mode(father_edu)
    no_siblings=stats.mean(no_siblings)
    kids=stats.median(kids)
    mother_job=stats.median(mother_job)
    father_job=stats.mode(father_job)
    study_hrs=stats.mean(study_hrs)
    read_freq=stats.mode(read_freq)
    read_freq_sci=stats.median(read_freq_sci)
    attend_dept=stats.median(attend_dept)
    impace=stats.mode(impace)
    attend=stats.mean(attend)
    prep_study=stats.mode(prep_study)
    prep_exam=stats.median(prep_exam)
    notes=stats.mean(notes)
    listens=stats.mean(listens)
    likes_discuss=stats.median(likes_discuss)
    classroom=stats.mode(classroom)
    cuml_gpa=stats.mean(cuml_gpa)
    exp_gpa=stats.median(exp_gpa)
    course_id=stats.mean(course_id)
    grade=stats.mean(grade)
    
    new_row=[    age,
    gender,
    hs_type,
    scholarship,
    work,
    activity,
    partner,
    salary,
    transport,
    living,
    mother_edu,
    father_edu,
    no_siblings,
    kids,
    mother_job,
    father_job,
    study_hrs,
    read_freq,
    read_freq_sci,
    attend_dept,
    impace,
    attend,
    prep_study,
    prep_exam,
    notes,
    listens,
    likes_discuss,
    classroom,
    cuml_gpa,
    exp_gpa,
    course_id,
    grade]
    
    new_row = [int(x) for x in new_row]
    return new_row
#     new_row.insert(0,len(df2)+1)
#     df2.loc[len(df2)]=new_row

In [25]:
check=random_sample(df2)

In [19]:
df2=pd.read_csv('final-student-prediction-3000.csv')

In [26]:
check

[2200,
 1,
 1,
 2,
 4,
 2,
 2,
 2,
 1,
 4,
 2,
 1,
 1,
 5,
 1,
 2,
 1,
 3,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 3,
 2,
 2,
 1,
 5,
 3,
 9]

In [28]:
from sklearn.neural_network import MLPRegressor

In [30]:
mlp_reg = MLPRegressor(random_state=42, max_iter=500).fit(x_train, y_train)

In [31]:
mlp_reg.predict(x_test[:10])

array([3.06645918, 3.03855264, 3.02642542, 4.06034452, 3.06054374,
       4.05629332, 5.04289403, 1.0444652 , 2.09052413, 1.14216157])

In [33]:
y_test[:10]

1801    3
1190    3
1817    3
251     4
2505    3
1117    4
1411    5
2113    1
408     2
2579    1
Name: GRADE, dtype: int64

In [34]:
mlp_reg.score(x_test, y_test)

0.9941191408397545

In [36]:
df["GRADE"].unique()

array([1, 2, 5, 0, 3, 4, 7, 6], dtype=int64)

In [37]:
df["COURSE ID"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [38]:
course_id_dict={
    1:"CSE",
    2:"Mechanical",
    3:"Aeronautics",
    4:"Electronics and Communication",
    5:"Chemical",
    6:"Metallurgy",
    7:"Biotechnology",
    8:"Agricultural",
    9:"Civil"
}